
:root{
  --backgrd:rgba(83, 87, 87, 0.265);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
 
}
a{
  text-decoration: none;
}

.heading_txt {
  font-size: 50px;
  font-weight: 600;
}
.sub_heading_txt {
  font-size: 20px;
  font-weight: 400;
 
}
.heading{
  font-size: 45px;
  font-weight: 550px;
}
.para {
  font-size: 20px;
  font-weight: 400;
}

.card_btn {
  width: 162px;
  height: 60px;
  padding: 18px,8px;
  background: #141414;
font-size: 20px;
font-weight: 600;
color: #FFFFFF;
 cursor: pointer;
}
.main_logo
{
  animation: rotate 2s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg); 
  }
  100% {
    transform: rotate(180deg);
  }
}

