.nav_container {
  display: flex;           
   justify-content: flex-end;
  align-items: center;    
  gap: 20px;  
  justify-content:space-between; 
  margin-left: 5%;
  margin-top: 20px;
  margin-right: 5%;

}




