
.nav_item_list{
    display: flex;
    
}
.nav_bar{
  margin-bottom: 10px;

}
.nav_item{
  display: flex;
  list-style-type: none;
  color: blueviolet;
  margin-bottom: 10px;
  margin-right: 50px; 
}

.nav_item a {
    padding: 10px; 
    color: rgb(0, 0, 0); 

  }
  .nav_container{
    
    height: 70px;
    width: 1160px;
  }
  .nav_btn {
    height: 49px;
    width :162px;
    background-color:  rgba(20, 20, 20, 1);
    color:aliceblue;
  }
 